:root {
    --white: #fff;
    --basic: #4a69bd;
    --basic-text: #130f40;
    --toggle-bg: url('../../images/svg/dark.svg');
    --lang: url('../../images/png/usa.png')
}

:root[date-theme = 'dark'] {
    --white: #333333;
    --basic: #73a0d8;
    --basic-text: #fff;
    --toggle-bg: url('../../images/svg/light.svg');
}

:root[date-lang = 'lang'] {
    --lang: url('../../images/png/rus.png')
}
